/* ======================================================================= */
/* Estilos CSS Customizados. */
/* ======================================================================= */

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
}

/* ======================================================================= */
/* Toggle Styles*/
/* ======================================================================= */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width:0;
    margin-top: 10px;
    margin-left: -250px;
    padding-left: 0px;
    overflow-y: auto;
    background: rgb(227, 239, 245);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: -250px;
    padding: 10px 1px 1px 1px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* ======================================================================= */
/* Sidebar Styles */
/* ======================================================================= */
.sidebar-nav {
    position: relative;
    top:0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 750px;
    max-height: 750px;
    /*font-size: 14px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 45px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(35, 109, 179);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgb(35, 109, 179, 0.6);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    /*font-size: 15px;*/
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(max-width:768px) {
    #sidebar-wrapper {
        margin-top: 14px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }    

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 1px 1px 1px 1px;
        position: relative;        
    }
    
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* ======================================================================= */
/* Topo Fixo*/
/* ======================================================================= */
.container-fluid-custom {
    margin-bottom: 29px !important;
}

@media(max-width:768px) {
    .container-fluid-custom {
        margin-bottom: 60px !important;
    }
}

.navbar-custom {
    padding-bottom: 8px;
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 0.4), rgb(35, 109, 179, 0.9));
}

.navbar-brand-custom {
    /*font-size: 14px !important;*/
    padding-left: 1px;
}

/* ======================================================================= */
/* Footer */
/* ======================================================================= */
.navbar-footer-custom {
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 0.4), rgb(35, 109, 179, 0.9));
    height: 50px;
    /*font-size: 12px !important;*/
    color: #fff;
}

/* ======================================================================= */
/* Estilização Material Icons */
/* ======================================================================= */
.material-icons.centralizado { 
    padding: 0px 8px 0px 0px !important;
    font-size: 18px;
}

.material-icons.centralizado .sm { 
    font-size: 10px !important;
}

/* ======================================================================= */
/* Estilização de Barra Superior Interna (Recolhe Menu/Barra de busca/) */
/* ======================================================================= */
.material-icons.menu { 
    padding: 0px 0px 0px 0px !important;
    font-size: 30px;
    color: rgb(235, 141, 33);
}

.row-menu-custom {
    margin-top: 0px !important;
}

/* ======================================================================= */
/* Estilização de Jumbotron */
/* ======================================================================= */
.jumbotron-fluid-custom {
    padding: 0px !important;
    border-radius: 4px !important;
}

.jumbotron-title-page-custom {
    padding: 10px !important;
    margin: 0px 0px 10px 0px !important;
}

/* ======================================================================= */
/* Estilização de Button */
/* ======================================================================= */
.btn-1-custom {
    width: 100% !important;
}

@media(min-width:768px) {
    .btn-2-custom {
        width: 15% !important;
    }
}

@media(max-width:768px) {
    .btn-2-custom {
        width: 100% !important;
    }
}

.active-custom {
    text-decoration: none;
    color: #fff !important;
    background: rgb(35, 109, 179, 0.6);
}
