/* ======================================================================= */
/* Estilos CSS Customizados. */ 
/* ======================================================================= */
/* Materialize */
/* ======================================================================= */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
}
/* ======================================================================= */
/* === Header ============================================================ */
/* ======================================================================= */
.header-left {
    width: 30%;
    height: 50px;
    margin: 0 auto;
}
/* ======================================================================= */
/* === Menu Lateral + Topo fixo ========================================== */
/* ======================================================================= */
.brand-logo {
    padding-left: 15px !important;
}
.menu-custom {
    /*background: rgb(227, 239, 245);*/
    background: #fff;
    width: 230px;
}
.menu-custom li a {
    text-indent: 5px; 
    line-height: 45px;
    padding-left: 0px;
    display: block;
    text-decoration: none;
}
.menu-custom li a:hover {
    text-decoration: none;
    color: #fff;
    /*background: #039be5;*/
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; 
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 1), rgb(95, 132, 233));
}
.menu-custom-active {
    text-decoration: none;
    /*background: #039be5;*/
    color: #fff !important;
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 1), rgb(95, 132, 233));
}
.a-link-active {
    color: #fff !important;
}
.menu-custom-scroll {
    position: fixed;
    top: 67px;
    padding-top: 1px;
    margin-top: 1px;
}
.menu-custom-background {
    /*background: rgb(227, 239, 245);*/
    background: #fff;
    height: 550px;
    width: 230px; 
    padding-top: 1px;
    margin-top: 10px;
}
.sticky-nav {
    position: fixed;
    top: 0;
}
/* ======================================================================= */
/* === Conteúdo Custom =================================================== */
/* ======================================================================= */
.main-custom {
    margin: 0 auto;
} 
.container-main-top {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    margin-top: 10px;
    clear: both;
}
.box-main-left {
    width: 70%;
    height: 50px;    
    float: left;
    vertical-align: middle;
}
.box-main-left.text-custom {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 0 0 5px;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 100;*/
}
.box-main-right {
    width: 30%;
    height: 50px;    
    float: left; /* Embora o nome da classe seja [right], o float left está correto. */
    padding: 5px 5px 5px 5px;
}
/* ======================================================================= */
/* === Box para busca ==================================================== */
/* ======================================================================= */
.box-busca {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    background-color: blanchedalmond;
}
/* ======================================================================= */
/* === Navbar Custom ===================================================== */
/* ======================================================================= */
.nav-wrapper-custom {
    padding-bottom: 1px;
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 1), rgb(95, 132, 233));
    height: 150px;
    z-index: 5;
}
/* ======================================================================= */
/* Footer */
/* ======================================================================= */
.footer-custom {
    background-image: linear-gradient(to bottom right,rgb(35, 109, 179, 1), rgb(95, 132, 233));
    height: auto;
}
.page-footer {
    padding-top: 10px !important; 
}
/* ======================================================================= */
/* Estilização Material Icons */
/* ======================================================================= */
.material-icons.centralizado { 
    padding: 0px 8px 0px 0px !important;
    font-size: 18px;
}
.material-icons.sm { 
    font-size: 17px !important;
}
/* ======================================================================= */
/* Estilização de Button */
/* ======================================================================= */
.btn-create {
    width: 140px;
    margin-top: 2px !important;
    font-size: 11px !important;
    height: 33px !important;
    background-color: #00c853;
    float: right;
}
.btn-create:hover {
    background-color: #499e4e !important;
} 
.btn-alter {
    width: 140px;
    margin-top: 2px !important;
    font-size: 11px !important;
    height: 33px !important;
    float: right;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-alter:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc; 
} 
.btn-back {
    width: 140px;
    margin-top: 2px !important;
    margin-right: 10px;
    font-size: 11px !important;
    height: 33px !important;
    float: right;
    color: #fff;
    background-color: #4484ce;
    border-color: #17a2b8;
}
.btn-back:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
} 
.btn-delete {
    width: 140px;
    margin-top: 2px !important;
    font-size: 11px !important;
    height: 33px !important;
    float: right;
    color: #fff;
    background-color: #ff3b3f;
    border-color: #dc3545;
}
.btn-delete:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
} 
/* ======================================================================= */
/* === Organização de Botões na tela (DELETE/ALTER/BACK) ================= */
/* ======================================================================= */
.container-button-dab {
    margin: 0 auto;
} 
.box-button-dab { /* dab = delete,alter,back */
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    margin-top: 10px;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}
/* ======================================================================= */
/* === Foto de Perfil ==================================================== */
/* ======================================================================= */
.circle-custom {
    margin: 10px;
    height: 45px;
    width: 45px;
}
.text-align-center {
    vertical-align: middle;
}
/* ======================================================================= */
/* === Alertas =========================================================== */
/* ======================================================================= */
.alert-main {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding-left: 15px !important; /* Espaçar texto de todas as mensagens a esquerda. */
    font-size: 13px;
    z-index: 1;
}
.alert-main.default {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-main.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-main.warning {
    color: #373737;
    background-color: #f9ce00;
    border-color: #ffce00;

    /*
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    */
}
.alert-main.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
/* ======================================================================= */
/* === Correção de possível "Bug" na tag SELECT (Materialize) ============ */
/* ======================================================================= */
select {
    display: block;
}
/* ======================================================================= */
/* === Box Validação Javascript ========================================== */
/* ======================================================================= */
#box-validacao {
    margin: 0 auto;
    width: 100%;
    background-color: #f8eced;
    height: 50px;
    padding: 10px;
}
/* ======================================================================= */
